<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
      <add key="PortName" value="COM5"/>
      <add key="WorkSpace" value="C:\Program Files (x86)\Jenkins\workspace"/>
      <add key="BuildPath" value="Build"/>
      <add key="TestCasePath" value="AzureIoTDeveloperKit\AzureIoTDeveloperKit\AZ3166\Test"/>
      <add key="LogPath" value="TestResult"/>    
    </appSettings>
</configuration>